// Define variables for your color scheme

// For example:
<<<<<<< HEAD
$fire: #EF233C;
$blue: #0D6EFD;
=======
$red: #D90429;
$blue: #2b2d42;
>>>>>>> 56a960c4cd5851fa781bc1a0378c8d4be5a18125
$yellow: #FFC65A;
$pinkish: #EE4357;
$green: #1EDD88;
$white: #EDF2F4;
<<<<<<< HEAD
$light-gray: #F4F4F4;
=======
$gray: #8D99AE;
$pantona: #EF233C;
$light-gray: #F7F7FF;
$dark: black;
>>>>>>> 56a960c4cd5851fa781bc1a0378c8d4be5a18125
