// Define variables for your color scheme

// For example:
$red: #D90429;
$blue: #2b2d42;
$yellow: #FFC65A;
$pinkish: #EE4357;
$green: #1EDD88;
$white: #EDF2F4;
$gray: #8D99AE;
$pantona: #EF233C;
$light-gray: #F7F7FF;
