

// #wam{
//   height: 5px;
//   width: 5px;
// }

.home-banner{
  background-image:(url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/8dc060147514561.62c41b99cffb4.jpg));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  display: grid;
  place-items: center;
  color: white;
}

.home-banner h1{
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

#devider {
  height: 3px;
  width: 150px;
  background-color:rgb(42, 14, 107);
}

#what-we-do{
  margin-top: 3%;
}
