// Import page-specific CSS files here.
<<<<<<< HEAD
@import "home";

.container {
  background-color: #EE8E9A;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
/*   outline: 1px solid #ccc; */
}


.card {
  background-color: #EEC0C7;
  border-radius: 12px;
}
=======
@import "home";
>>>>>>> 56a960c4cd5851fa781bc1a0378c8d4be5a18125
