// Import page-specific CSS files here.
@import "home";

.container {
  background-color: #EE8E9A;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
/*   outline: 1px solid #ccc; */
}


.card {
  background-color: #EEC0C7;
  border-radius: 12px;
}
