  <div class="row border border-primary rounded p-2 mb-1 bg-light">
    <div class="col-2"><img class="avatar" style="height: 50px; width:50px; object-fit:cover;" src="<%=@request.user.avatar_url%>" alt=""></div>
    <div class="col d-flex align-items-center"><%=@request.user.full_name%></div>
    <div class="col d-flex ms-auto justify-content-end align-items-center">
<%= button_to 'Accept', accept_request_path(request), method: :post, class:"btn btn-success" %>
      <%= button_to "delete", {:controller => :requests,
:action => 'destroy', :id => @request.id }, :method => :delete ,class: "btn btn-danger"%>
    </div>
  </div>
