 
  <div class="card border-success mb-3 w-100" ">
    <div class="card-header bg-transparent border-success d-flex justify-content-start align-items-center gap-2">
      <div class="" style="height: 30px;width:30px">
        <img class="w-100 h-100 rounded-circle border" src="<%=@review.customer.avatar_url%>" alt="">
      </div>
      <div>
        <h5 class="card-title"><%=@review.customer.full_name%></h5>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%=@review.comment%></p>
    </div>
    <div class="card-footer bg-transparent border-success">
      <div class="d-flex justify-content-start align-items-center">
      <%@review.rating.times do%>
        <i class="fa-solid fa-star text-info"></i>
        <%end%>
      </div>
    </div>
  </div>