<div>
  <div class="home-banner">
    <div class="container">
      <div class="home-cta">
        <h1 class="pt-3">AmigoRental</h1>
        <p>You don't have friends, don't worry, we got you!<br>
           Rent a friend now and change you status from Foreveralone to Neveralone!</p>
        <a class="btn btn-primary" href="/listings">Get a friend</a>
      </div>
    </div>
  </div>
</div>
<div id="what-we-do" class="mt-6 mx-6">
  <h4 class="d-flex justify-content-center">
    Wait a minute who are we ?
  </h4>
  <%# <div id="wam" class ="d-flex align-items-end flex-column" >
<img></img>
  </div> %>
  <div class="d-flex justify-content-center my-2">
    <span id ="devider"></span>
  </div>
  <p class="d-flex justify-content-center"> We provide friendship for anyone anywhere, because everyone deserves a friend.</p>
</div>
<div class="footer mt-6 d-flex justify-content-center">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-person"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
