<p class="text-grey-darker text-xs mb-8">Responsive cards (1 / 2 / 3 cols); card footer; css flex properties for equal heights. Unsplash photos.</p>
<div class="flex flex-wrap -m-3">

  <% @listings.each do |listing| %>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
      <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
        <div class="bg-cover h-48" style="background-image: url(<%= listing.image_url %>);"></div>
        <div class="p-4 flex-1 flex flex-col" style="
  ">
          <h3 class="mb-4 text-2xl"><%= listing.title %></h3>
          <div class="mb-4 text-grey-darker text-sm flex-1">
            <p> <%= listing.content %> </p>
          </div>
          <a href="#" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="
  ">Twitter</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
