<div class="d-flex flex-row">
  <%=render "shared/sidebar"%>
  <div class="d-flex flex-column m-2">
    <div class="d-flex flex-row justify-content-around">
      <div class="bg-warning w-25">
        <h5>Bio</h6>
        <p>I am a famous horse you know me! No picyures please!</p>
      </div>
    <div class="bg-warning w-50">
        <p>Horseman🎵<br>
        Horsin'Around 🎥 <br>
        Wine 🍷 </p>
    </div>
  </div>
  <hr>

  <div class="d-flex align-items-start" ">

      <div class="h-100 w-100">
        <div class="container-fluid  w-75 my-3">
          <div id="carouselExample" class="carousel slide h- w-100">
            <div class="carousel-inner">
              <div class="carousel-item active h-100 w-100">
                <img class="picc" src="https://www.looper.com/img/gallery/the-truth-about-the-bojack-horseman-theme-song/intro-1610463458.jpg" alt="...">
              </div>
              <div class="carousel-item active h-100 w-100">
                <img class="picc" src="https://upload.wikimedia.org/wikipedia/en/6/6f/BoJack_Horseman_season_1.png"
                alt="...">
              </div>
            </div>
            <hr>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div>
          <h5></h5>
        </div>
        <div></div>
      </div>

    </div>
  </div>
</div>
