.navbar-lewagon {
  justify-content: space-between;
  background: #DF0E2F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  font-family:$logo-font; ;
}
